.App {
  text-align: center;
}

.App .displayItems {
  list-style: none;
}

.App .displayCartItems {
  list-style: none;
}

.App .displayItems img {
  width: 400px;
  height: 310px;
}

.App .displayCartItems img {
  width: 400px;
  height: 310px;
}

.header {
  height: 110px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 9px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 14px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px;
  background-color: lightblue;
}

.header__optionLineOne {
  font-size: 15px;
}

.header__optionLineTwo {
  font-size: 20px;
  font-weight: 800;
}

.header__optionLineTwo:hover{
  color: rgb(90, 185, 245);
}

.header__optionLineTwoA{
  font-size: 20px;
  font-weight: 800;
  color: white;
  text-decoration: none;
  margin-top: 5px;
}

.header__optionLineTwoA:hover{
  text-decoration: underline;
  background-color: rgb(21, 150, 230);
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 10px;
  margin-top: 1px;
}

.header__optionBasket:hover{
  color: rgb(21, 150, 230);
}

.header__basketCount {
  margin-right: 10px;
  margin-left: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.home__image {
  width: 80%;
  height: 400px;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
  justify-content: space-around;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 200px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.payment {
  background-color: white;
}

.payment__container h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment__title {
  flex: 0.2;
}

.payment__address,
.payment__items {
  flex: 0.8;
}

.home .home__items__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.home .home__items__container ul {
  padding-left: 0;
}

form input{
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

form input:focus {
  background-color: #dddddd;
  outline: none;
}

hr{
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

form button{
background-color: rgb(21, 150, 230);
color: white;
padding: 14px 20px;
border: none;
cursor: pointer;
width: 30%;
opacity: 0.9;
}

form button:hover{
  opacity: 1;
}

.displayItems li{
  font-size: 1.5rem;
  font-weight: bold;
}

.displayItems button{
background-color: rgb(21, 150, 230);
color: white;
padding: 14px 20px;
border: none;
cursor: pointer;
width: 20%;
opacity: 0.9;
border-radius: 10px;
}

.displayItems button:hover{
 opacity: 1;
}

.displayCartItems li {
  font-size: 1.3rem;
}

.displayCartItems button{
background-color: rgb(21, 150, 230);
color: white;
padding: 9px 15px;
border: none;
cursor: pointer;
width: 30%;
opacity: 0.9;
border-radius: 10px;
}

.displayCartItems button:hover{
  opacity: 1;
}

.displayCartItems{
  padding-left: 0;
}

.subtotal button{
background-color: rgb(21, 150, 230);
color: white;
padding: 9px 15px;
border: none;
cursor: pointer;
width: 60%;
opacity: 0.9;
border-radius: 10px;
}

.subtotal button:hover{
  opacity: 1;
}



